node_modules
*.js
*.js.map
tsconfig.tsbuildinfo
_dist

!eslint.config.js
!build/*
build/types.js*
!InternetArchiveScript.js
!docs/InternetArchiveScript.js
!InternetArchiveIcon.png
!docs/InternetArchiveIcon.png